/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--main-font-width);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
}

.header {
  font-family: var(--accent-font-family);
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
  inline-size: var(--width);
  padding-block-start: clamp(7.5rem, -12.125rem + 175vw, 8.5rem);
  padding-block-end: 25px;
  margin-block-start: 100px;
  display: grid;
  justify-items: center;
  gap: 20px;
}

.header_title {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}
.header_text {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 5px;
}
.theme-menu__list {
  display: grid;
  gap: 12px;
  margin-inline-start: 20px;
}

.theme-menu__item {
  font-size: 14px;
}
.theme-menu__item::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 2px;
  background-color: var(--accent-color);
  transition: width 300ms, background-color 0.5s;
}
.theme-menu__item:hover::after {
  inline-size: 100%;
  opacity: 0.6;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: block;
  position: absolute;
  left: -14px;
  animation: moving 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 1;
  border:none;
}

.theme-menu__button:focus-visible {
  opacity: 1;
  outline: none;
  border:none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -5px;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--accent-color);
  opacity: 0.6;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  border:none;
}
.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: opacity 0.5s;
}
button:focus-visible {
  border: 2px solid var(--accent-color);
}
.button {
  position: relative;
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--accent-color);
  color: var(--text-color);
}

.button:hover .button__text {
  color: var(--text-button);
  mix-blend-mode: difference;
}

.card__footer {
  padding-inline: 25px;
  margin-block-start: 2px;
  margin-block-end: 20px;
  display: flex;
  justify-content: end;
  margin-top: 0;
}
.button:hover .footer__icon {
  color: var(--text-button);
  mix-blend-mode: difference;
}
.button::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: currentColor;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.5s ease-in-out;

}
.button:hover::before {
  scale: 1;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  transition: color 1s ease;
}

.card__icon-button {
  border: none;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: outline 0.3s ease;
  display: grid;
  padding: 0px;
  margin-right: 12px;
  align-content: center;
}

.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--width);
  margin-block-start: 100px;
}

.card {
  margin-block-end: 50px;
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
}
.card_title {
  display: block;
  border-block-end: 2px solid var(--accent-color);
  font-size: 18px;
  padding: 5px 10px;
  font-variation-settings: "wght" 700;
  font-family: var(--main-font-family);
}
.card_content {
  padding: 25px 25px 0;
}
.content-paragraph {
  padding-block-end: 27px;
}
.section_image {
  position: relative;
  display: flex;
  margin: 0;
}
.card_picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
  border-bottom: 2px solid var(--accent-color, #000);
}
.fillter_start {
  filter: brightness(130%);
}
.filter_saturate {
  filter: saturate(0.2);
}
.filter_saturate_brigh {
filter: saturate(4) brightness(1) contrast(1.2);
}
.filter_brigh {
filter: hue-rotate(32deg) brightness(1.2) saturate(1);
}
.filter_invert {
  filter: invert(1) brightness(0.8);
}
.filter_sepia {
  filter: sepia(1.4) saturate(1.2);
}
.filter_blur {
  filter: blur(10px);
}
.filter_last {
  filter: hue-rotate(113deg) contrast(0.4) saturate(2) blur(1.5px);
}

.card__like-button {
  min-inline-size: 126px;
  min-block-size: 34px;
  background-color: var(--bg-color);
}
.card_label {
  position: absolute;
  inset-inline-end: 16px;
  inset-block-start: 25px;
  color: var(--accent-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wght" var(--main-font-width, 400);
  line-height: 14px;
  z-index:1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--label-shadow);
  text-shadow: 0 0 1px var(--label-shadow);
}
@supports (text-stroke: 1px var(--label-shadow)) or (-webkit-text-stroke: 1px var(--label-shadow)) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-shadow, #fff);
    text-shadow: none;
  }
}
.footer__icon {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  aspect-ratio: 1/1;
  transition: color 1s ease;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-block-end: 100px;
  padding: 15px;
  min-inline-size: 306px;
  inline-size: min(80vw, 335px);
  background-color: var(--bg-color);
}

.footer__svg {
  position: relative;
  z-index: 1;
}
.button_dialog {
  display: none;
  gap: 30px;
  position: fixed;
  inset: 0;
  width: 357px;
  height: fit-content;
  padding: 31.5px 32.5px 30.5px 31.5px;
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
  transition: opacity 0.1s ease-in-out;
}

.dialog-text {
  color: var(--text-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}
.dialog-title-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px;
}
.button_dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog-close-button {
  width: 100%;
  height: 38px;
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.button_dialog:is([open]) {
  display: grid;
}

.button_dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}
.floppy-dialog-icon {
  color: var(--accent-color);
  position: relative;
  z-index: 1;
  inline-size: 39px;
  aspect-ratio: 1/1;
  transition: color 1s ease;
  margin-inline-end: 10px;
}

@media (width <= 375px) {
  .header_title {
    margin-block-start: -20px;
  }
}
